body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.person-name {
    font-size: 72px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.person-name-container {
}

.person-donation {
    display: inline-block;
}

.person-info {
    text-align: left;
    margin-left: 36%;
    opacity: 0;
}

.person-photo-container {
    display: inline-block;
    position: relative;
    top: 0;
}

.person-bio {
    display: inline-block;
    width: 400px;
    text-align: left;
}

.person-display {
    width: 100%;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    position: relative;

    background-color: #c0c0c0;
    color: #5c5c5c;
    left: 0;
}

@-webkit-keyframes deselectPerson {
    from {
        color: white;
        background: #293f87;
        height: 500px;
    }
    to {
        background-color: #c0c0c0;
        color: #5c5c5c;
        left: 0;
    }
}

@-webkit-keyframes selectPerson {
    from {
        background-color: #c0c0c0;
        color: #5c5c5c;
        left: 0;
    }
    to {
        color: white;
        background: #293f87;
        height: 500px;
    }
}

@-webkit-keyframes selectPersonBio {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.person-info-selected {
    -webkit-animation: selectPersonBio .8s ease-out;
    -moz-animation: selectPersonBio .8s ease-out;
    -ms-animation: selectPersonBio .8s ease-out;
    -o-animation: selectPersonBio .8s ease-out;
    animation: selectPersonBio .8s ease-out;
    -webkit-animation-fill-mode:forwards; /* Safari and Chrome */
}

.person-display-selected {
    -webkit-animation: selectPerson .8s ease-out;
    -moz-animation: selectPerson .8s ease-out;
    -ms-animation: selectPerson .8s ease-out;
    -o-animation: selectPerson .8s ease-out;
    animation: selectPerson .8s ease-out;
    -webkit-animation-fill-mode:forwards; /* Safari and Chrome */
}

.person-display-deselected {
    -webkit-animation: deselectPerson .8s ease-out;
    -moz-animation: deselectPerson .8s ease-out;
    -ms-animation: deselectPerson .8s ease-out;
    -o-animation: deselectPerson .8s ease-out;
    animation: deselectPerson .8s ease-out;
    -webkit-animation-fill-mode:forwards; /* Safari and Chrome */
}


